body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#container{
    display: flex;
    width: 960px;
    flex-wrap: wrap;
}

#container > div:hover{
    background-color: black;
}

button{
    margin-bottom: 50px;
    width: 100px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    background-color: rgb(194, 36, 36);
    color: white;
    font: bolder;
    font-size: 15px;
}
#grid-btn{
    margin-bottom: 10px;
    background-color: rgb(16, 189, 219);
}